.block.first.last
	%canvas#star.canvas{:width => '500', :height => '150'}
		%p
			Your browser doesn't support canvas.

.block.first.last
	%p
		.button
			.button_text
				Click here to change canvas

.block.first.last
	
