.stars
	.background
	.midground
	.foreground
	
	-# Move code
	-#.prologue#block1
		%span#balloon1
			%h1
				What is
				%span#itronaut itronaut
				?
		
		%span#balloon2
			%h1
				Balloon 2
		
		%span#balloon3
			%h1
				Balloon 3
	
	
	-# Appear code
	.prologue#balloon1
		%h1
			What is
			%span#itronaut itronaut
	
	.prologue#balloon2
		%h1
			Balloon 2
	
	.prologue#balloon3
		%h1
			Balloon 3
	
	
	.arrow
	
.choice_block
	.block1.offer.first
		.text
			%h2 Offer1
	
	.block2.offer
		.text
			%h2 Offer2
	
	.block3.offer.last
		.text
			%h2 Offer3

.promo_area
	.story
		%p
			Eodem est decima amet quam ut. Decima usus et fiant vero et. Quarta in facilisi typi doming ut. Nobis nibh qui diam est eu. Qui insitam eum parum non est. Sit nunc laoreet laoreet ex vero. Legunt facilisi ex dolore praesent processus. 

		%p
			Consequat te littera lorem eodem eleifend. Ad enim sollemnes lectorum tincidunt laoreet. Congue soluta nulla humanitatis nobis ipsum. Dynamicus in non decima qui qui. Dignissim eum minim qui dolore vero. Futurum feugiat processus eros option gothica. Saepius sequitur dynamicus tincidunt aliquip anteposuerit. 

		%p
			Blandit etiam autem legunt magna nulla. Et facit insitam suscipit qui est. Typi quis cum in vel in.
	
		.button
			.button_text
				Read more
			.button_arrow.bottom
			.button_arrow.center






