.block
	%a{:href => 'mailto:ron@itronaut.com'}
		.button
			.button_text
				Mail me!
			.arrow.bottom
			.arrow.center

.block
	%p
		Non usus legere decima parum typi. Ut legunt in quis molestie nisl. Aliquip consuetudium dignissim diam est consequat. Investigationes placerat autem aliquip est videntur. Mirum autem velit quam claritatem et. Dolor quam consequat tation accumsan nisl. Claritatem iriure nisl parum nulla et. 

	%p
		Legunt adipiscing imperdiet in sollemnes decima. Ea ut illum ad et lius. Me sed sed eu gothica autem. Litterarum blandit et littera ad legunt. Duis consequat commodo ex lectorum accumsan. Nobis vulputate illum quarta clari gothica.

.block.last
	%p
		Facilisis nibh claritatem veniam consuetudium qui. Qui clari litterarum iis ii exerci. Tincidunt lorem veniam insitam magna ea. Liber claritas volutpat liber legentis facer. Option mazim tation nobis eodem eros. 

	%p
		Claram videntur duis possim et typi. Vulputate ut qui claritatem option ut. Nostrud videntur lius quod sollemnes molestie. Id nibh nunc consuetudium ii legere. Ipsum iriure nulla velit insitam nostrud. 

	%p
		Imperdiet etiam qui delenit quam zzril. Dolor eleifend dolor humanitatis augue iis.