@import 'css3/css3_effects';

body {
	
	.button {
		width: 150px;
		height: 25px;
		padding: 6px 0px 0px 10px;
		color: white;
		
		@include border-radius(7px);
		@include linear-gradient(bottom, #454545, #B5B5B5);
		
		.button_text {
			float: left;
		}
		
		a {
			text-decoration: none;
		}
		
		&:hover {
			@include linear-gradient(bottom, #0D3F78, #1A82F7);
		}
		
		&:active {
			@include box-shadow(inset 0 0 10px #000);
		}
		
		.button_arrow {
			width: 0px;
			height: 0px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid black;
			margin: 4px 10px 0px 0px;
			position: relative;
		}
		
		.center {
			left: 130px;
			top: -12px;
		}
		
		.bottom {
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px solid #C2DFFF;
			left: 132px;
			top: 2px;
		}
	}
}