$outer-border: 20px;
$stage-width: 900px;
$stage-outer-width: $stage-width + (2 * $outer-border);
$background-color: #73BEFF;
$border-color: #B8DEFF;
$header-background: #0A72CC;
$text-background: rgba(81, 145, 219, 0.3);