@import 'configuration';
@import 'css3/css3_effects';

body.contact {
	
	.content {
		background: $border-color;
		
		.block {
			$padding: 14px;
			
			width: $stage-width - (2 * $padding);
			height: auto;
			min-height: 350px;
			padding: 6px $padding;
			float: left;
			overflow: hidden;
			
			background: $text-background;
			opacity: 0.85;
			filter:alpha(opacity = 85);
			overflow: hidden;
			
			#right_area {
				$padding: 37px;
				
				width: 547px - $padding;
				height: auto;
				padding-left: $padding;
				float: right;
				
				#google_maps {
					$frame-border: 10px;
				
					width: 500px - (2 * $frame-border);
					height: 368px - (2 * $frame-border);
					margin: $frame-border $frame-border 0px 0px;
					padding: 0px (2 * $frame-border) (2 * $frame-border) 0px;
					float: right;
				
					iframe {
						width: 100%;
						height: 100%;
						border: $frame-border solid rgba(30, 30, 30, 0.2);
						
						@include box-shadow(5px 5px 20px #074F8C);
					}
				}
				
				#credentials {
					margin: 0px 15px 20px;
					float: left;
					
					#left {
						float: left;
					}
					
					#right {
						margin: 15px 0px 0px 100px;
						float: left;
						
						#contact {
							width: 85px;
							float: left;
						}
					}
				}
			}
			
			#form {
				width: 300px;
				height: auto;
				margin: 10px 20px 0px 5px;
				float: left;
				
				.form_input {
					width: 100%;
					float: none;
					background: rgba(30, 30, 30, 0.2);
					border: none;
					font-size: 13px;
					
					@include box-shadow(3px 3px 10px #074F8C inset);
				}
				
				input {
					height: 32px;
					margin: 0px 0px 18px;
					padding: 0px 5px;
				}
				textarea {
					height: 200px;
					margin: 0px 0px 30px;
					padding: 9px 3px 9px 7px;
					resize: none;
				}
				
				input::-webkit-input-placeholder  { font-size: 13px; color: #fff; }
				input:-moz-placeholder { font-size: 13px; color: #fff; }
				textarea::-webkit-input-placeholder  { font-size: 13px; color: #fff; }
				textarea:-moz-placeholder { font-size: 13px; color: #fff; }
			}
			
			h2 {
				margin-left: 20px;
				margin-right: 30px;
			}
			
			#right {
				float: right;
			}
		}
	}
}