@import 'configuration';
@import 'css3/css3_effects';

body.contact {
	
	.content {
		background: $border-color;
		
		.block {
			$padding: 14px;
			
			width: $stage-width - (2 * $padding);
			height: auto;
			min-height: 350px;
			margin: 10px 0px 50px 0px;
			padding: 6px $padding;
			float: left;
			
//			@include border-radius(5px);
			
			background: rgba(81, 145, 219, 0.3);
			opacity: 0.85;
			filter:alpha(opacity = 85);
			overflow: hidden;
		}
	}
}