@import 'configuration';
@import 'css3/css3_effects';

body.home {
	
	.stars {
		
		.prologue {
			height: 200px;
			width: 400px;
			margin: 50px 20px;
			padding: 6px 14px;
			
			@include border-radius(5px);
			
			background-color: white;
			opacity: 0.85;
			filter:alpha(opacity = 85);
			overflow: hidden;
		}
	}
	
	.choice_block {
		$margin: 10px;
		width: 100%;
		height: 200px;
		padding: 10px 0px;
		float: left;
		background: #E3F0FF;
		
		
		.offer {
			width: ($stage-width - (2 * $outer-border)) / 3;
			height: 100%;
			float: left;
			
			@include transition(background, 0.5s, ease-out);
		}
		
		.text {
			color: white;
			font-family: monaco, monospace;
			font-weight: bold;
			margin-top: 70px;
			padding-left: 10px;
		}
		
		.block1 {
			background: #1F5AFF;
			
			&:hover {
				background: #153DAD;
			}
		}
		
		.block2 {
			background: #00217D;
			
			&:hover {
				background: #001242;
			}
		}
		
		.block3 {
			background: #008AD4;
			
			&:hover {
				background: #005A8A;
			}
		}
	}
	
	.promo_area {
		float: left;
		background: #E3F0FF;
		
		.story {
			width: 40%;
			height: auto;
		}
	}
}