@import 'configuration';
@import 'css3/css3_effects';

#header_background {
	width: 100%;
	min-width: $stage-outer-width + 16px;
	height: 130px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: $header-background;
	z-index: -100;
	
	@include box-shadow(0px 10px 30px #074F8C);
	
	#bottom_ridge {
		width: 100%;
		height: 100px;
		position: absolute;
		bottom: 0px;
		
//		@include linear-gradient(bottom, $background-color, $header-background)
	}
}

#stage {
	width: $stage-outer-width;
	height: auto;
	margin: 0px auto;
	background-color: transparent;
	overflow: hidden;
	z-index: -150;
	display: none;
	
	$border-radius: 40px;
	
	.first {
		@include border-top-left-radius($border-radius);
	}

	.last {
		@include border-bottom-right-radius($border-radius);
	}
}

.header {
	$image_width: 280px;
	$margin_logo: 50px;
	
	width: $stage-width;
	height: 100px;
	border: 20px solid $border-color;
	border-bottom: 10px solid $border-color;
	overflow: hidden;
	
	.logo {
		float: left;
		margin-right: $margin_logo;
		margin-top: 5px;
		
		img {
			width: $image_width;
		}
	}
	
	$number_of_menus: 4;
	$line_width: 1px;
	$menu_width: ($stage-width - ($image_width + $margin_logo) - ($number_of_menus * $line_width))
	 						 / $number_of_menus;
	
	
	.menu {
		width: $menu_width;
		height: 100%;
		float: left;
		background: #4A93D4;
		
		@include transition(background, 0.3s);
		
		&:hover {
			background: #053663;
		}
		
		.text {
			color: white;
			font-family: monaco, monospace;
			font-weight: bold;
			font-size: 18px;
			margin-top: 70px;
			padding-left: 10px;
		}
	}
	
	.line {
		width: $line_width;
		height: 100%;
		float: left;
		background: #053663;
	}
	
	a {
		text-decoration: none;
	}
}

.content {
	width: $stage-width;
	min-height: 450px;
	margin-bottom: 20px;
	height: auto;
	overflow: hidden;
	border: 20px solid $border-color;
	border-top: none;
}

.footer {
	width: $stage-width - (2 * $outer-border);
	height: 50px;
}



