@import 'configuration';
@import 'css3/css3_effects';

body.show_down {
	
	.content {
		
		background: $border-color;
		
		.block {
			$padding: 14px;
			
			width: $stage-width - (2 * $padding);
			height: auto;
			min-height: 150px;
			margin: 10px 0px 50px 0px;
			padding: 6px $padding;
			float: left;
			
//			@include border-radius(5px);
			
			background: $text-background;
			opacity: 0.85;
			filter:alpha(opacity = 85);
			overflow: hidden;
		}
		
		.canvas {
			border: 1px solid black;
			
		}
		
		
	}
	
	
}