%a{:href => content_path(@contact)}
	.logo
		%img{:src => '/assets/overall/itronaut.png'}

%a{:href => content_path(@home)}
	.menu
		.text
			home

.line

%a{:href => content_path(@home)}
	.menu
		.text
			bla

.line

%a{:href => content_path(@contact)}
	.menu
		.text
			contact