%a{:href => '/home'}
	.logo
		%img{:src => '/assets/overall/itronaut.png'}

%a{:href => '/home'}
	.menu
		.text
			home

%a{:href => '/home'}
	.menu
		.text
			bla

%a{:href => '/home'}
	.menu
		.text
			contact