%a{:href => content_path(@home)}
	.logo
		%img{:src => '/assets/overall/itronaut.png'}

.menu#home.first
	.text
		home

.line

.menu#home
	.text
		bla

.line

.menu#home
	.text
		bla

.line

.menu#home
	.text
		bla

.line

.menu#contact.last
	.text
		contact